node {
  diameter: 50px;
  color: #A5ABB6;
  border-color: #9AA1AC;
  border-width: 1px;
  text-color-internal: #FFFFFF;
  font-size: 10px;
}

relationship {
  color: #A5ABB6;
  shaft-width: 1.5px;
  font-size: 8px;
  padding: 3px;
  text-color-external: #000000;
  text-color-internal: #FFFFFF;
  caption: '<type>';
}

node.Division {
  color: #0096FF;
  border-color: #FFFFFF;
  text-color-internal: #FFFFFF;
  caption: '{id}';
}

node.Employee {
  color: #FF9300;
  border-color: #FFFFFF;
  text-color-internal: #000000;
  caption: '{id} - {sex}';
}

node.Operation {
  color: #008F00;
  border-color: #FFFFFF;
  text-color-internal: #FFFFFF;
  caption: '{description}';
}

relationship.DIVCOLLAB {
  caption: 'DIVCOLLAB - {percollab} | {sumhours} | {operid}';
}
